@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
}

.header {
  background: rgb(245, 245, 245);
  width: 100%;
  z-index: 999;
  position: relative;
}
.header .morgin_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  position: relative;
  padding: 0 15px 0px 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header .morgin_header .logo {
  font-family: "Rowdies", cursive;
  font-size: 30px;
  color: rgb(137, 87, 156);
  padding: 20px 0 20px 0px;
  text-decoration: none;
  white-space: nowrap;
  position: relative;
  z-index: 1;
}
.header .morgin_header .logo span {
  color: rgb(29, 205, 205);
}
.header .morgin_header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0 15px;
  width: 84%;
  text-align: center;
  -webkit-transition: margin 0.3s, opacity 0.3s, pointer-events 0s;
  transition: margin 0.3s, opacity 0.3s, pointer-events 0s;
}
.header .morgin_header .search .input_search {
  width: 100%;
  height: 40px;
  border-radius: 50px 0 0 50px;
  border: solid rgba(0, 0, 0, 0.169) 1px;
  outline: none;
  padding: 0 0 0 10px;
  font-size: 15px;
}
.header .morgin_header .search .button_search {
  border-radius: 0 50px 50px 0;
  border: none;
  border-left: none;
  width: 60px;
  background: rgb(137, 87, 156);
  color: white;
  cursor: pointer;
}
.header .morgin_header .search .button_search img {
  width: 25px;
  text-align: center;
  padding: 3px 3px 0 0;
}
.header .morgin_header .number {
  text-decoration: none;
  color: black;
  font-weight: bold;
  background: url(../img/free-icon-phone-call-5585562.png) no-repeat;
  background-size: 16px;
  padding: 0 0px 6px 20px;
  margin: 0 10px 0 0;
  white-space: nowrap;
}
.header .morgin_header .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.header .morgin_header .lupa_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.397);
  padding: 0 15px 0 15px;
  cursor: pointer;
  display: none;
}
@media (max-width: 430px) {
  .header .morgin_header .lupa_two {
    padding: 0 10px 0 15px;
  }
}
.header .morgin_header .lupa_two img {
  width: 30px;
  margin: 0px 10px 0 0;
}
@media (max-width: 430px) {
  .header .morgin_header .lupa_two img {
    width: 20px;
    margin: 0 0 0 4px;
  }
}
.header .morgin_header .lupa_two .lupa_two_text {
  font-size: 14px;
  font-weight: 400;
  padding: 0px 0 0 0;
}
@media (max-width: 430px) {
  .header .morgin_header .lupa_two .lupa_two_text {
    font-size: 13px;
  }
}
.header .morgin_header .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.397);
  border-left: solid rgba(0, 0, 0, 0.169) 1px;
  padding: 0 0px 0 15px;
}
@media (max-width: 430px) {
  .header .morgin_header .cart {
    padding: 0 0 0 10px;
  }
}
.header .morgin_header .cart img {
  width: 30px;
}
@media (max-width: 430px) {
  .header .morgin_header .cart img {
    width: 20px;
  }
}
.header .morgin_header .cart .cart_text {
  font-size: 14px;
  font-weight: 400;
  padding: 5px 0 0 0;
}
@media (max-width: 430px) {
  .header .morgin_header .cart .cart_text {
    font-size: 13px;
  }
}
.header .menu {
  background: white;
  border-bottom: solid rgb(245, 245, 245) 1px;
  position: relative;
}
.header .menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 auto 0px auto;
  padding: 0 15px 0 15px;
}
.header .menu .container .men {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0 15px 0;
  overflow: auto;
}
.header .menu .container .men::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.header .menu .container .men .rem_men {
  border-right: solid rgba(0, 0, 0, 0.306) 1px;
  padding: 0 20px 0 0;
}
.header .menu .container .men .rem {
  list-style-type: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.607);
  margin: 0 20px 0 0;
  font-size: 14px;
}
.header .menu .container .men .rem:hover {
  color: rgb(137, 87, 156);
}
.header .menu .container .rem:last-child {
  border-right: solid rgba(0, 0, 0, 0.306) 1px;
  padding: 0 15px 0 0;
}
@media (max-width: 1000px) {
  .header .menu .container .rem:last-child {
    border-right: none;
  }
}
.header .menu .container .soc_network {
  margin: 0 0 0 -7px;
}
.header .menu .container .soc_network img {
  width: 23px;
  margin: 0 5px;
  padding: 10px 0 10px 0;
}
.header .menu .opas {
  position: absolute;
  height: 100%;
  width: 50px;
  background: black;
  top: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(95%, rgb(255, 255, 255)), to(rgb(255, 255, 255)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 95%, rgb(255, 255, 255) 100%);
}

@media (max-width: 1270px) {
  .number {
    display: none;
  }
}
@media (max-width: 1000px) {
  .soc_network {
    display: none;
  }
}
@media (max-width: 600px) {
  .search {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  .header .container .lupa_two {
    display: block;
  }
}
@media (max-width: 430px) {
  .header .container .logo {
    font-size: 25px;
  }
}
@media (max-width: 370px) {
  .header .container .logo {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .header .container .logo {
    font-size: 16px;
    padding: 20px 0 25px 0;
  }
}
.search.active {
  opacity: 1;
  pointer-events: all;
  margin: 117px auto 0 auto;
  z-index: 1;
}

.morgin_header.active {
  padding: 0 15px 50px 15px;
}

.oglav {
  margin: 20px 15px -10px 15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.758);
}

.product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
  grid-template-columns: 55% 45%;
}

.product_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product_right {
  padding: 0 15px 0 0;
}

.pic {
  width: 55%;
  margin: 30px 0 30px 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 0 0;
  position: absolute;
  top: 0;
  left: -130px;
}
.slick-dots li {
  list-style-type: none;
  margin: 10px 10px;
  border: solid rgb(137, 87, 156) 3px;
  border-radius: 5px;
}
.slick-dots #slick-slide-control00 {
  background: url(https://xlm.ru/storage/uploads/images/2022/12/05/fULbDUI43ZJd6V48YfkkY7Ecdd3qHKdTQ9qMsYui-736x_.jpeg.webp) no-repeat top right;
  font-size: 0;
  background-size: cover;
  border-radius: 2px;
  border: none;
  width: 70px;
  height: 100px;
  cursor: pointer;
}
.slick-dots #slick-slide-control01 {
  background: url(http://library.manga-sempai.ru/Kaguya-hochet-chtoby-ey-priznalis-genii-voyna-lyubvi-i-razuma/Chapter60/1.jpg) no-repeat top right;
  font-size: 0;
  background-size: cover;
  border-radius: 2px;
  border: none;
  width: 70px;
  height: 100px;
  cursor: pointer;
}
.slick-dots #slick-slide-control02 {
  background: url(https://shakai.ru/file/manga/Kaguya_sama_wa_Kokurasetai_Tensai_tachi_no_Renai_Zunousen/manga/3_29/001.png) no-repeat top right;
  font-size: 0;
  background-size: cover;
  border-radius: 2px;
  border: none;
  width: 70px;
  height: 100px;
  cursor: pointer;
}
.slick-dots #slick-slide-control03 {
  background: url(https://static2.mangapoisk.ru/pages/3299/222269/eyFFDFUCtfSDasZlhoIyWG60V2vp1PODV00oAjKW.jpg?width=800&quality=100) no-repeat top right;
  font-size: 0;
  background-size: cover;
  border-radius: 2px;
  border: none;
  width: 70px;
  height: 100px;
  cursor: pointer;
}
.slick-dots .slick-active {
  border: solid rgb(29, 205, 205) 3px;
}

.product_price {
  margin: 90px 0 20px 0;
}
.product_price .product_price_text {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.74);
}
.product_price .product_price_price {
  font-size: 40px;
  font-weight: normal;
  color: rgb(137, 87, 156);
}

.function {
  margin: 0 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.function select {
  width: 100px;
  height: 50px;
  cursor: pointer;
  border: solid rgba(0, 0, 0, 0.295) 1px;
  border-radius: 4px;
  font-size: 17px;
}
.function select:hover {
  border: solid rgba(0, 0, 0, 0.724) 1px;
}
.function button {
  width: 300px;
  height: 50px;
  cursor: pointer;
  margin: 0 0 0 10px;
  border: none;
  background: rgb(137, 87, 156);
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 20px;
  font-weight: light;
}
.function button:hover {
  background: rgb(151, 102, 171);
}

.subtitle {
  margin: 50px 0 0 0;
}
.subtitle p {
  margin: 15px 0;
  font-size: 17px;
  font-weight: 100;
}
.subtitle .first {
  font-weight: bold;
}

.text {
  margin: 50px 15px 100px 15px;
}
.text h1 {
  font-weight: normal;
  margin: 0 0 20px 0;
}
.text p {
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 300;
  line-height: 27px;
}

@media (max-width: 1000px) {
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pic {
    width: 90%;
    margin: 30px auto 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pic img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15px;
  }
  .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 0 0 0;
    top: auto;
    left: auto;
    position: relative;
  }
  .slick-dots li {
    list-style-type: none;
    margin: 10px 10px;
  }
  .slick-dots button {
    font-size: 0;
    background-size: cover;
    border-radius: 2px;
    border: none;
    width: 50px;
    height: 70px;
    cursor: pointer;
  }
  .product_price {
    margin: 50px 15px 20px 15px;
  }
  .product_price .product_price_text {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.74);
  }
  .product_price .product_price_price {
    font-size: 45px;
    font-weight: normal;
    color: rgb(137, 87, 156);
  }
  .function {
    margin: 0 0px 20px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .function select {
    width: 100px;
    height: 50px;
    cursor: pointer;
    border: solid rgba(0, 0, 0, 0.295) 1px;
    border-radius: 4px;
    font-size: 17px;
  }
  .function select:hover {
    border: solid rgba(0, 0, 0, 0.724) 1px;
  }
  .function button {
    width: 100%;
    height: 50px;
    cursor: pointer;
    margin: 0 0 0 10px;
    border: none;
    background: rgb(137, 87, 156);
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 20px;
    font-weight: light;
  }
  .function button:hover {
    background: rgb(151, 102, 171);
  }
  .subtitle {
    margin: 50px 15px 0 15px;
  }
  .subtitle p {
    margin: 15px 0;
    font-size: 17px;
    font-weight: 100;
  }
  .subtitle .first {
    font-weight: bold;
  }
}
.card_product {
  height: auto;
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  margin: 10px 10px;
  position: relative;
}

.CP_pic {
  width: 100%;
  height: 24vw;
  max-height: 370px;
  border-radius: 20px;
  margin: 0 0 95px 0;
}

.CP_pic img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.CP_title {
  width: 100%;
  height: 43px;
  padding: 10px 0 0 0;
  font-size: 17px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.CP_title:hover {
  color: rgb(137, 87, 156);
}

.CP_subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 0 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.CP_price {
  font-size: 25px;
  font-weight: 300;
  margin: 0 10px 0 0;
}

.discont_price {
  color: rgb(215, 73, 73);
}
.discont_price::after {
  content: "950₽";
  font-size: 13px;
  text-decoration: line-through;
  color: black;
  position: absolute;
  left: 0;
  bottom: 30px;
}

.buy {
  background: rgb(137, 87, 156);
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 14px;
}
.buy:hover {
  background: rgb(151, 102, 171);
}

.discont {
  width: 40px;
  position: absolute;
  top: -10px;
  right: -10px;
}

.catalog {
  display: -ms-grid;
  display: grid;
  margin: 20px 5px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.CP_text {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
}

@media (max-width: 1100px) {
  .catalog {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .CP_pic {
    height: 30vw;
  }
  .CP_pic {
    max-height: 570px;
  }
}
@media (max-width: 900px) {
  .catalog {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .CP_pic {
    height: 45vw;
    margin: 0 0 90px 0;
  }
  .CP_price {
    font-size: 22px;
  }
  .buy {
    padding: 7px 17px;
  }
  .CP_pic {
    max-height: 400px;
  }
}
@media (max-width: 650px) {
  .catalog {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .CP_pic {
    height: 70vw;
    margin: 0 0 90px 0;
    max-height: 400px;
  }
}
@media (max-width: 350px) {
  .CP_pic {
    height: 70vw;
    margin: 0 0 85px 0;
    max-height: 440px;
  }
  .buy {
    padding: 6px 10px;
    font-size: 10px;
  }
  .CP_price {
    font-size: 20px;
  }
  .discont_price::after {
    content: "950₽";
    font-size: 13px;
    text-decoration: line-through;
    color: black;
    position: absolute;
    left: 0;
    bottom: 20px;
  }
}
.oglav {
  margin: 30px 15px -10px 15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.758);
}

.button_shop {
  color: rgb(151, 102, 171);
  text-align: center;
  display: block;
  cursor: pointer;
  margin: 50px 0 70px 0;
  text-decoration: none;
}

.bh_text_shop {
  border: solid rgb(151, 102, 171) 1px;
  display: inline;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.bh_text_shop.active {
  background: rgb(151, 102, 171);
  color: white;
}

.card_product:nth-child(n+16) {
  visibility: hidden;
  position: absolute;
}

.card_product.is_visible {
  visibility: visible;
  position: relative;
}

.top_product {
  display: block !important;
}

.likeit_wrap {
  border: solid rgb(137, 87, 156) 3px;
  border-radius: 10px;
  padding: 30px 10px 20px 10px;
  margin: 20px 15px 40px 15px;
  position: relative;
}
.likeit_wrap .likeit_text {
  position: absolute;
  top: -20px;
  left: 20px;
  font-size: 35px;
  font-weight: normal;
  background: white;
  color: rgb(137, 87, 156);
  padding: 0 5px;
}
@media (max-width: 380px) {
  .likeit_wrap .likeit_text {
    font-size: 20px;
    top: -14px;
  }
}

.likeit {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1000px) {
  .likeit {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .likeit a:nth-child(n+5) {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
@media (max-width: 900px) {
  .likeit {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .likeit a:nth-child(n+4) {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
@media (max-width: 730px) {
  .likeit {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .likeit a:nth-child(n+3) {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .likeit .CP_pic {
    height: 75vw;
    margin: 0 0 90px 0;
    max-height: 420px;
  }
}
@media (max-width: 650px) {
  .likeit .CP_pic {
    height: 65vw;
    margin: 0 0 90px 0;
    max-height: 380px;
  }
}
@media (max-width: 380px) {
  .likeit .CP_pic {
    height: 60vw;
    margin: 0 0 85px 0;
  }
  .likeit .buy {
    padding: 6px 5px;
    font-size: 10px;
    display: none;
  }
  .likeit .CP_price {
    margin: -10px 0 0 0;
    font-size: 20px;
  }
  .likeit .discont_price::after {
    content: "950₽";
    font-size: 13px;
    text-decoration: line-through;
    color: black;
    position: absolute;
    left: 0;
    bottom: 20px;
  }
}

.footer {
  background: rgb(245, 245, 245);
}
.footer .container_footer {
  max-width: 1270px;
  margin: 0 auto;
  padding: 10px 0 30px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.footer .container_footer .logo {
  font-family: "Rowdies", cursive;
  font-size: 30px;
  color: rgb(137, 87, 156);
  padding: 0px 0 0px 15px;
  text-decoration: none;
  white-space: nowrap;
  position: relative;
  z-index: 1;
}
.footer .container_footer .logo span {
  color: rgb(29, 205, 205);
}
@media (max-width: 400px) {
  .footer .container_footer .logo {
    font-size: 20px;
  }
}
.footer .container_footer .men_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 15px 0 10px;
  padding: 0 0 20px 0;
}
.footer .container_footer .men_footer .rem_footer {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.627);
  list-style-type: none;
  margin: 5px 5px;
  font-weight: bold;
}
.footer .container_footer .men_footer .rem_footer:hover {
  color: rgb(137, 87, 156);
}
.footer .container_footer .men_footer .rem_men_footer {
  border-right: solid rgba(0, 0, 0, 0.506) 1px;
  padding: 0 10px 0 0;
}
.footer .container_footer .footer_right {
  margin: 10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.footer .container_footer .footer_right .number_footer {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.712);
  font-weight: bold;
  background: url(../img/free-icon-phone-call-5585562.png) no-repeat;
  background-size: 23px;
  font-size: 22px;
  padding: 0 0px 6px 30px;
  margin: 0 10px 0 0;
}
@media (max-width: 400px) {
  .footer .container_footer .footer_right .number_footer {
    font-size: 18px;
    background-size: 18px;
    padding: 0 0 6px 18px;
  }
}
.footer .container_footer .footer_right .soc_network_footer {
  padding: 0 15px 0 20px;
}
.footer .container_footer .footer_right .soc_network_footer a img {
  width: 30px;
}

.discl {
  padding: 30px 0 0 15px;
  color: rgba(0, 0, 0, 0.837);
}

@media (max-width: 730px) {
  .container_footer {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer_right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 0 0px;
  }
  .footer_left {
    margin: 0 20px 0 0px;
  }
  .soc_network_footer {
    margin: 10px 0 0 0;
  }
}